layout {

    focus-ring {
        active-color   "#678ee4"
        inactive-color "#171c26"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#678ee4"
        inactive-color "#171c26"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#171c2670"
    }

    tab-indicator {
        active-color   "#678ee4"
        inactive-color "#0c348d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#678ee480"
    }
}

recent-windows {
    highlight {
        active-color "#678ee4"
        urgent-color "#fd4663"
    }
}
