layout {

    focus-ring {
        active-color   "#6782e4"
        inactive-color "#171a26"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#6782e4"
        inactive-color "#171a26"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#171a2670"
    }

    tab-indicator {
        active-color   "#6782e4"
        inactive-color "#0c288d"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#6782e480"
    }
}

recent-windows {
    highlight {
        active-color "#6782e4"
        urgent-color "#fd4663"
    }
}
