layout {

    focus-ring {
        active-color   "#5e8bed"
        inactive-color "#061537"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#5e8bed"
        inactive-color "#061537"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#06153770"
    }

    tab-indicator {
        active-color   "#5e8bed"
        inactive-color "#043195"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#5e8bed80"
    }
}

recent-windows {
    highlight {
        active-color "#5e8bed"
        urgent-color "#fd4663"
    }
}
